craft.reach-x.com {
	root * /srv/craft/public
	encode gzip
	file_server browse
	header Content-Security-Policy "default-src 'self'; script-src 'none'; object-src 'none'"
	header X-Content-Type-Options nosniff
}
